@font-face {
  font-family: "magical";
  src: url("/magical.ttf") format("truetype"); /* Safari, Android, iOS */
}

body {
  background: #22262b;
  font-family: magical;
  font-size: 25px;
  line-height: 1.7;
  margin: 0;
  color: #ffffff;
  text-align: center;
}

a {
  text-decoration: none !important;
  color: #ffffff;
}

a:hover {
  text-decoration: none !important;
  background-color: transparent !important;
  cursor: pointer;
  color: #a9b2bc;
}
